
<head>
    <style type="text/css">
        .auto-style2 {
            width: 342px;
        }
        .auto-style4 {
            height: 26px;
            width: 342px;
        }
        .auto-style5 {
            height: 26px;
            width: 54px;
        }
        .auto-style6 {
            height: 23px;
            width: 342px;
        }
        .auto-style7 {
            height: 23px;
            width: 54px;
        }
        .auto-style8 {
            width: 123px;
        }
        .auto-style9 {
            height: 26px;
            width: 123px;
        }
        .auto-style10 {
            height: 23px;
            width: 123px;
        }
        .auto-style12 {
            width: 47%;
            height: 11px;
        }
        .auto-style13 {
            width: 180px;
        }
        .auto-style14 {
            height: 26px;
            width: 180px;
        }
        .auto-style15 {
            height: 23px;
            width: 180px;
        }
        .auto-style17 {
            width: 54px;
        }
        .auto-style18 {
            height: 13px;
            width: 342px;
        }
        .auto-style19 {
            height: 13px;
            width: 123px;
        }
        .auto-style20 {
            height: 13px;
            width: 54px;
        }
        .auto-style21 {
            height: 13px;
            width: 180px;
        }
        .auto-style22 {
            height: 159px;
        }
        .auto-style23 {
            height: 125px;
            width: 988px;
            margin-left: 4px;
            margin-top: 106px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>


<div>
    <div style="float:left;">
        <p>aksjdkasjd</p>
    <div>
        <table class="auto-style12" style="margin-left: 640px;float:right;border:1px solid black;">
            <tr>
                <td class="auto-style2">Statistics</td>
                <td class="auto-style8">Albums</td>
                <td class="auto-style17">Songs</td>
                <td class="auto-style13">Profit</td>
            </tr>
            <tr>
                <td class="auto-style2">Earned from your Content</td>
                <td class="auto-style8">0</td>
                <td class="auto-style17">0</td>
                <td class="auto-style13">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style2">Earned from other Content</td>
                <td class="auto-style8">0</td>
                <td class="auto-style17">0</td>
                <td class="auto-style13">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style4">Earned from Your Content - Resellers Sales</td>
                <td class="auto-style9">0</td>
                <td class="auto-style5">0</td>
                <td class="auto-style14">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style6">Earned from Split Profits</td>
                <td class="auto-style10">-</td>
                <td class="auto-style7">0</td>
                <td class="auto-style15">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style18">Total</td>
                <td class="auto-style19">0</td>
                <td class="auto-style20">0</td>
                <td class="auto-style21">0.00 EUR</td>
            </tr>
        </table>
    </div>
        </div>
</div>

