
<head>
    <style type="text/css">
        .auto-style2 {
            width: 392px;
        }
        .auto-style4 {
            height: 26px;
            width: 392px;
        }
        .auto-style6 {
            height: 23px;
            width: 392px;
        }
        .auto-style8 {
            width: 123px;
        }
        .auto-style9 {
            height: 26px;
            width: 123px;
        }
        .auto-style10 {
            height: 23px;
            width: 123px;
        }
        .auto-style12 {
            width: 47%;
            height: 11px;
            float: right;
        }
        .auto-style13 {
            width: 180px;
        }
        .auto-style14 {
            height: 26px;
            width: 180px;
        }
        .auto-style15 {
            height: 23px;
            width: 180px;
        }
        .auto-style18 {
            height: 13px;
            width: 392px;
        }
        .auto-style19 {
            height: 13px;
            width: 123px;
        }
        .auto-style21 {
            height: 13px;
            width: 180px;
        }
        .auto-style24 {
            float: left;
            width: 1252px;
        }
        .auto-style25 {
            width: 72px;
        }
        .auto-style26 {
            height: 26px;
            width: 72px;
        }
        .auto-style27 {
            height: 23px;
            width: 72px;
        }
        .auto-style28 {
            height: 13px;
            width: 72px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>


<div>
    <div class="auto-style24">
        <p>aksjdkasjd</p>
    <div>
        <table class="auto-style12" style="margin-left: 640px;border:1px solid black;">
            <tr style="border:1px solid black;">
                <td class="auto-style2">Statistics</td>
                <td class="auto-style8">Albums</td>
                <td class="auto-style25">Songs</td>
                <td class="auto-style13">Profit</td>
            </tr>
            <tr>
                <td class="auto-style2">Earned from your Content</td>
                <td class="auto-style8">0</td>
                <td class="auto-style25">0</td>
                <td class="auto-style13">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style2">Earned from other Content</td>
                <td class="auto-style8">0</td>
                <td class="auto-style25">0</td>
                <td class="auto-style13">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style4">Earned from Your Content - Resellers Sales</td>
                <td class="auto-style9">0</td>
                <td class="auto-style26">0</td>
                <td class="auto-style14">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style6">Earned from Split Profits</td>
                <td class="auto-style10">-</td>
                <td class="auto-style27">0</td>
                <td class="auto-style15">0.00 EUR</td>
            </tr>
            <tr>
                <td class="auto-style18">Total</td>
                <td class="auto-style19">0</td>
                <td class="auto-style28">0</td>
                <td class="auto-style21">0.00 EUR</td>
            </tr>
        </table>
    </div>
        </div>
</div>

